<h1>Add A Book</h1>

<form name="addbook" method="post" action="http://localhost:3000/books/new">
    <div>
        <label>Title</label>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Author</label>
        <input type="text" name="author" />
    </div>
        <div>
        <label>Category</label>
        <input type="text" name="category" />
    </div>
        <div>
        <label>Published Year</label>
        <input type="number" name="published_year" />
    </div>

    <div>
        <input type="submit" value="create" />
    </div>
</form>